
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
}


h1 {
    color: #2C3E50;
    text-align: center;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}


.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    z-index: 2;
}


.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}


.input-section {
    margin-bottom: 15px;
}


.input-section label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #2C3E50;
}


.input-section input[type="text"], .input-section input[type="password"], .input-section input[type="checkbox"] {
    width: 100%;
    padding: 8px;
    border: 2px solid #BDC3C7;
    border-radius: 4px;
}


.input-section input[type="text"]:focus, .input-section input[type="password"]:focus {
    background-color: #f9f9f9;
    border-color: #3498DB;
    
}

.remember-me {
   padding: 4px;
   margin-bottom: 8px;
}


.button-section {
    display: flex;
    justify-content: space-between;
}


.button-section input[type="button"] {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

#okButton {
    background-color: #27AE60;
    color: white;
}

#cancelButton {
    background-color: #E74C3C;
    color: white;
}


form {
    border: 2px solid #3498DB;
    padding: 20px;
    border-radius: 8px;
}


#loginImage {
    width: 150px;
    height: 150px;
    border-radius: 8px;
}
